.Logout__option {
  display: flex;
}

.logout__logo {
  margin-right: 20px;
}

.user__homeIcon {
  margin-right: 10%;
  align-content: center;
}

.user__calenderIcon {
  margin-right: 10%;
  align-content: center;
}

.user__starIcon {
  margin-right: 10%;
  align-content: center;
}

.exit__button {
  border: none;
  display: flex;
  align-items: middle;
  background-color: inherit;
  padding: 3px 15px;
  cursor: pointer;
}

.exit__button:hover {
  background-color: #c6c8d0;
  transition: all 0.4s ease-in;
  border-radius: 15px;
}
